<launch>
	<!-- this launch file will start the controller node with mavros to the pixhawk for an actual flying scenario -->
	<!-- will start the following: -->
	<!-- 	mavros to the pixhawk -->
	<!--	control node -->
	<!-- 	appropriate ros bags -->

	<!-- launch file argument to be able to set this without having to constantly edit the launch file -->
	<arg name="mission_index" value="1" doc="index of the desired mission to run" />


	<!-- mavros to the pixhawk -->
	<include file="$(find aa241x_mission)/launch/mavros_gazebo.launch" >
	</include>

	<!-- AA241x elements to the mission (the people, the scoring, all the fun stuff) -->
	<include file="$(find aa241x_mission)/launch/aa241x_mission.launch" >
		<arg name="mission_index" value="$(arg mission_index)" />
		<!-- <arg name="landing_lat" value="37.422748" /> -->
		<!-- <arg name="landing_lon" value="-122.174234" /> -->
		<arg name="landing_lat" value = "37.423963" />
		<arg name="landing_lon" value = "-122.177573" />
	</include>


	<!-- the mission node -->
	<node pkg="aa241x_commander" type="mission_node" name="mission_node" output="screen">
    </node> 

	<!-- the control node -->
	<node pkg="aa241x_commander" type="control_node" name="control_node" output="screen">
    </node>

	<!-- the vision node --> 
	<node pkg="aa241x_commander" type="vision_node_sim" name="vision_node_sim" output="screen">
    </node>


	<!-- logging -->
	<include file="$(find aa241x_commander)/launch/log_position.launch" />

</launch>
