<launch>
	<!-- launch file to log elements that might be of interest for the controller -->

	<node pkg="rosbag" type="record" name="mavros_specs"
		args="-o $(env HOME)/rosbags/position_bag
				/mavros/local_position/pose
				/mavros/local_position/velocity
				/mavros/global_position/global
				/mavros/global_position/raw/gps_vel
				/mavros/global_position/raw/fix
				/mavros/global_position/compass_hdg
				/mavros/altitude
				/mavros/time_reference
				/rosout" />

	<node pkg="rosbag" type="record" name="FSM"
		args="-o $(env HOME)/rosbags/state_bag
				/drone_state
				/person_found
				/id_value
				/measurement" />

</launch>
